
html {
  height: 150%;
  scroll-behavior: smooth;
}

.jumbotron {
  background-image: url(assets/parallax.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  text-size-adjust: 50%;
}

.display-4 {
  margin-top: 10%;
  text-align: center;
}

.lead {
  margin-top: 2%;
  margin-left: 15%;
  text-align: center;
}

body {
  background-image: url(assets/bg.jpg);
  height: 200%;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

#about-me {
  background-image: url(assets/bg.jpg);
  background-size: cover;
  width: 100%;
  margin-top: 20%;
}

#portfolio {
  margin-top: 10%;
  background-image: url(assets/bg.jpg);
  background-size: cover;
  width: 100%;
  padding: 2% 2% 2% 2%;
}

.card-img-top {
  object-fit: cover;
  height: 23vh!important;
  max-height: 100%!important;
  /* flex-shrink: 0; */
}
.card-img-top:hover{
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
  }

.card-title,
.card-text {
  font-family: "Nunito Sans", sans-serif;
}

.card-body {
  background: none;
}

#cv {
  justify-content: center;
  width: 100%;
  margin-top: 10%;
}

.btn-primary {
  background-color: grey;
  border: none;
  font-family: "Nunito Sans", sans-serif;
}

::placeholder,
input,
form h1 {
  font-family: "Nunito Sans", sans-serif;
}

form h1 {
  text-align: center;
}

#contact {
  width: 100%;
  padding: 1% 1% 1% 1%;
  justify-content: center;
  margin: 10% 0 10% 0;
}

#contact-info {
  align-content: center;
  justify-content: center;
  font-family: "Nunito Sans", sans-serif;
}

.modal-content {
  width: 100%;
  height: 900px;
}

a:hover {
  cursor: pointer;
}

h1 {
  font-family: sans-serif;
}

#profile-image {
  max-height: 500px;
  max-width: 400px;
  margin-top: 5%;
  margin-bottom: 5%;
  height: auto;
  width: auto;

}

#profile-info {
  padding: 3% 0 0 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.icons {
  height: 40px;
  width: 40px;
  margin-left: 20px;
}

#form {
  margin-left: 100px;
  margin-top: 150px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  height: 100%;
  margin-top: 6px;
}

#wrapper {
  width: 100%;
  max-width: 600px;
  margin: 150px auto;
  text-align: center;
  padding: 30px 0;
}

/* /////////////////////////////////////////////////////// */

/* MEDIA QUERIES */

/* /////////////////////////////////////////////////////// */

@media screen and (max-width: 1024px) {
  body {
    height: 100%;
  }

  .jumbotron {
    background-image: url(assets/parallax.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75%;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    text-size-adjust: 50%;
  }

  #about-me {
    margin: 0 0 0 0;
  }
  #profile-image {
    max-height: 500px;
    max-width: 400px;
    margin-top: 5%;
    margin-bottom: 5%;
    height: auto;
    width: auto;
  
  }

  #profile-info {
    margin: 50px 0 0 0;
    padding-left: 10px;
    margin-bottom: 10%;
  }

  .port-col-1,
  .port-col-2,
  .port-col-3 {
    padding: 0 0 0 0;
    margin-bottom: 2%;
  }

  #portfolio {
    padding: 0 0 0 0;
  }

  .card-title,
  .card-text {
    font-family: "Nunito Sans", sans-serif;
  }
  ::placeholder,
  input,
  form h1 {
    font-family: "Nunito Sans", sans-serif;
  }

  .icons {
    height: 30px;
    width: 30px;
  }

  form {
    width: 100%;
  }

  #contact {
    margin: 10% 0 10% 0;
  }
}

@media screen and (max-width: 768px) {
  body {
    height: 50%;
  }
  .jumbotron {
    background-image: url(assets/parallax.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150%;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    text-size-adjust: 50%;
  }

  #profile-image {
    max-height: 500px;
    max-width: 400px;
    margin-top: 5%;
    margin-bottom: 5%;
    height: auto;
    width: auto;
  
  }

  #profile-info {
    margin: 50px 0 0 0;
    padding-left: 10px;
    margin-bottom: 10%;
  }

  .port-col-1,
  .port-col-2,
  .port-col-3 {
    padding: 0 0 0 0;
    margin-bottom: 2%;
  }

  #portfolio {
    padding: 0 0 0 0;
  }

  .card-title,
  .card-text {
    font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
  }
  ::placeholder,
  input,
  form h1 {
    font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
  }

  .icons {
    height: 30px;
    width: 30px;
  }

  form {
    width: 100%;
  }

  #contact {
    margin: 10% 0 10% 0;
  }
}

@media screen and (max-width: 667px) {
  body {
    height: 100%;
  }

  #about-me {
    margin: 10% 0 0 0;
  }
  #profile-image {
    max-height: 500px;
    max-width: 400px;
    margin-top: 5%;
    margin-bottom: 5%;
    height: auto;
    width: auto;
  
  }

  #profile-info {
    margin: 50px 0 0 0;
    padding-left: 10px;
    margin-bottom: 10%;
  }

  .port-col-1,
  .port-col-2,
  .port-col-3 {
    padding: 0 0 0 0;
    margin-bottom: 2%;
  }

  #portfolio {
    padding: 0 0 0 0;
    margin: 10% 0 0 0;
  }

  .card-title,
  .card-text {
    font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
  }
  ::placeholder,
  input,
  form h1 {
    font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
  }

  .icons {
    height: 30px;
    width: 30px;
  }

  #contact {
    margin: 10% 0 20% 0;
  }
}

@media screen and (max-width: 414px) {
  body {
    height: 100%;
  }

  .jumbotron {
    background-image: url(assets/parallax.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75%;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    text-size-adjust: 50%;
  }

  #profile-image {
    max-height: 500px;
    max-width: 400px;
    margin-top: 5%;
    margin-bottom: 5%;
    height: auto;
    width: auto;
  
  }

  #profile-info {
    margin: 50px 0 0 0;
    padding-left: 10px;
    margin-bottom: 10%;
  }

  .port-col-1,
  .port-col-2,
  .port-col-3 {
    padding: 0 0 0 0;
    margin-bottom: 2%;
  }

  #portfolio {
    padding: 0 0 0 0;
  }
  .card-title,
  .card-text {
    font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
  }
  ::placeholder,
  input,
  form h1 {
    font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
  }
  .icons {
    height: 30px;
    width: 30px;
  }

  form {
    width: 100%;
  }

  #contact {
    margin: 10% 0 10% 0;
  }
}

@media screen and (max-width: 375px) {
  body {
    height: 100%;
  }

  #profile-image {
    max-height: 500px;
    max-width: 400px;
    margin-top: 5%;
    margin-bottom: 5%;
    height: auto;
    width: auto;
  
  }

  #profile-info {
    margin: 50px 0 0 0;
    padding-left: 10px;
    margin-bottom: 10%;
  }

  .port-col-1,
  .port-col-2,
  .port-col-3 {
    padding: 0 0 0 0;
    margin-bottom: 2%;
  }

  #portfolio {
    padding: 0 0 0 0;
  }

  .card-title,
  .card-text {
    font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
  }

  .card:hover{
    opacity: 0.2;

  }
  ::placeholder,
  input,
  .form-control,
  form h1 {
    font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
  }

  .icons {
    height: 30px;
    width: 30px;
  }

  form {
    width: 100%;
  }

  #contact {
    margin: 10% 0 20% 0;
  }
}

@media screen and (max-width: 320px) {
  body {
    height: 100%;
  }

  .jumbotron {
    background-image: url(assets/parallax.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75%;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    text-size-adjust: 50%;
  }

  #profile-image {
    max-height: 500px;
    max-width: 400px;
    margin-top: 5%;
    margin-bottom: 5%;
    height: auto;
    width: auto;
  
  }

  #profile-info {
    margin: 50px 0 0 0;
    padding-left: 10px;
    margin-bottom: 10%;
  }

  .port-col-1,
  .port-col-2,
  .port-col-3 {
    padding: 0 0 0 0;
    margin-bottom: 2%;
  }

  #portfolio {
    padding: 0 0 0 0;
  }
  .card-title,
  .card-text {
    font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
  }
  ::placeholder,
  input,
  form h1 {
    font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
  }
  .icons {
    height: 30px;
    width: 30px;
  }

  form {
    width: 100%;
  }

  #contact {
    margin: 10% 0 10% 0;
  }
}