
html {
  height: 150%;
  scroll-behavior: smooth;
}

.jumbotron {
  background-image: url(assets/parallax.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  text-size-adjust: 50%;
}

.btn-primary{
  background-color: coral !important;
  margin-right: 15px;
  transition: transform 0.3s ease;
  border: none;
}

#card-btn{
  background-color: coral !important;
  margin-left: 10px;
  transition: transform 0.3s ease;
  border: none;
  font-size: .7rem;
}

#card-btn:hover{
  -webkit-transform: scale(1.2) !important;
  -ms-transform: scale(1.2) !important;
  transform: scale(1.2) !important;
  
}



.icons{
  transition: transform 0.3s ease;
}

.icons:hover{
  -webkit-transform: scale(1.5) !important;
  -ms-transform: scale(1.5) !important;
  transform: scale(1.5) !important;
}

.btn-primary:hover{
  -webkit-transform: scale(1.2) !important;
  -ms-transform: scale(1.2) !important;
  transform: scale(1.2) !important;
  
}

.display-4 {
  margin-top: 10%;
  text-align: center;
}

.lead {
  margin-top: 2%;
  margin-left: 15%;
  text-align: center;
}

body {
  background-image: url(assets/bg.jpg);
  height: 200%;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

#about-me {
  background-image: url(assets/bg.jpg);
  background-size: cover;
  width: 100%;
  margin-top: 20%;
  background: transparent;
}

#portfolio {
  margin-top: 10%;
  background-image: url(assets/bg.jpg);
  background-size: cover;
  width: 100%;
  padding: 2% 2% 2% 2%;
  background: transparent;
}

.card-img-top {
  object-fit: cover;
  height: 23vh!important;
  max-height: 100%!important;
  /* flex-shrink: 0; */
  transition: transform 0.3s ease !important;
  -webkit-filter: blur(2px);

}
.card-img-top:hover{
  border-radius: 2%;
  -webkit-filter: none;


    -webkit-transform: scale(1.2) !important;
  -ms-transform: scale(1.2) !important;
  transform: scale(1.2) !important;

  }

.card-title,
.card-text {
  font-family: "Nunito Sans", sans-serif;
  
}

.card-body {
  background: none;
}

.card{
  margin: 15px 15px 15px 15px;

}

#cv {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10%;
  align-content: space-around;
}



::placeholder,
input,
form h1 {
  font-family: "Nunito Sans", sans-serif;
}

form h1 {
  text-align: center;
}

#contact {
  width: 100%;
  padding: 1% 1% 1% 1%;
  justify-content: center;
  margin: 10% 0 10% 0;
}

#contact-info {
  align-content: center;
  justify-content: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20pt;
}

.modal-content {
  width: 100%;
  height: 900px;
}

a:hover {
  cursor: pointer;
}

h1 {
  font-family: sans-serif;
}

#profile-image {
  max-height: 500px;
  max-width: 400px;
  margin-bottom: 5%;
  height: auto;
  width: auto;
  border-radius: 50%;

}

#profile-col{

  display: flex;
    justify-content: center;
}

.col-lg-4 .col-md-12 .col-sm-12 .port-col-1 .port.col-2 .port-col-3
{
  display: flex;
}



#profile-info {
  padding: 0% 0 0 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.icons {
  height: 40px;
  width: 40px;
  margin-left: 20px;
}

#form {
  margin-left: 100px;
  margin-top: 150px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  height: 100%;
  margin-top: 6px;
}

#wrapper {
  width: 100%;
  max-width: 600px;
  margin: 150px auto;
  text-align: center;
  padding: 30px 0;
}
 

@keyframes fade-in {
  from {opacity: 0; transform: scale(.7,.7)}
  to {opacity: 1;}
}
#about-me {
/* animation: fade-in 8s; */
}




/* /////////////////////////////////////////////////////// */

/* MEDIA QUERIES */

/* /////////////////////////////////////////////////////// */

@media screen and (max-width: 1024px) {
  body {
    height: 100%;
  }

  .jumbotron {
    background-image: url(assets/parallax.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75%;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    text-size-adjust: 50%;
  }

  #about-me {
    margin: 0 0 0 0;
    background: transparent;
  }
  #profile-image {
    max-height: 500px;
    max-width: 400px;
    margin-top: 5%;
    margin-bottom: 5%;
    height: auto;
    width: auto;
  
  }

  #profile-info {
    margin: 50px 0 0 0;
    padding-left: 10px;
    margin-bottom: 10%;
  }

  .port-col-1,
  .port-col-2,
  .port-col-3 {
    padding: 0 0 0 0;
    margin-bottom: 2%;
  }

  #portfolio {
    padding: 0 0 0 0;
    background: transparent;
    margin: 10% 0 0 0;
  }

  .card-title,
  .card-text {
    font-family: "Nunito Sans", sans-serif;
  }
  ::placeholder,
  input,
  form h1 {
    font-family: "Nunito Sans", sans-serif;
  }

  .icons {
    height: 30px;
    width: 30px;
  }

  form {
    width: 100%;
  }

  #contact {
    margin: 10% 0 10% 0;
  }

  .card-img-top{-webkit-filter: none;}
}

@media screen and (max-width: 768px) {
  body {
    height: 50%;
  }
  .jumbotron {
    background-image: url(assets/parallax.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150%;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    text-size-adjust: 50%;
  }

  #profile-image {
    max-height: 500px;
    max-width: 400px;
    margin-top: 5%;
    margin-bottom: 5%;
    height: auto;
    width: auto;
  
  }

  #profile-info {
    margin: 50px 0 0 0;
    padding-left: 10px;
    margin-bottom: 10%;
  }

  .port-col-1,
  .port-col-2,
  .port-col-3 {
    padding: 0 0 0 0;
    margin-bottom: 2%;
  }

  #portfolio {
    padding: 0 0 0 0;
  }

  .card-title,
  .card-text {
    font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
  }
  ::placeholder,
  input,
  form h1 {
    font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
  }

  .icons {
    height: 30px;
    width: 30px;
  }

  form {
    width: 100%;
  }

  #contact {
    margin: 10% 0 10% 0;
  }
  .card-img-top{-webkit-filter: none;}
}

@media screen and (max-width: 667px) {
  body {
    height: 100%;
  }

  #about-me {
    margin: 10% 0 0 0;
  }
  #profile-image {
    max-height: 500px;
    max-width: 400px;
    margin-top: 5%;
    margin-bottom: 5%;
    height: auto;
    width: auto;
  
  }

  #profile-info {
    margin: 50px 0 0 0;
    padding-left: 10px;
    margin-bottom: 10%;
  }

  .port-col-1,
  .port-col-2,
  .port-col-3 {
    padding: 0 0 0 0;
    margin-bottom: 2%;
  }

  #portfolio {
    padding: 0 0 0 0;
    margin: 10% 0 0 0;
  }

  .card-title,
  .card-text {
    font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
  }
  ::placeholder,
  input,
  form h1 {
    font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
  }

  .icons {
    height: 30px;
    width: 30px;
  }

  #contact {
    margin: 10% 0 20% 0;
  }
  .card-img-top{-webkit-filter: none;}
}

@media screen and (max-width: 414px) {
  body {
    height: 100%;
  }

  .jumbotron {
    background-image: url(assets/parallax.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75%;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    text-size-adjust: 50%;
  }

  #profile-image {
  
    margin-top: 5%;
    margin-bottom: 5%;
    height: 300px;
    width: 300px;
    border-radius: 50%;
  
  }

  #profile-info {
    margin: 50px 0 0 0;
    padding-left: 10px;
    margin-bottom: 10%;
  }

  .port-col-1,
  .port-col-2,
  .port-col-3 {
    padding: 0 0 0 0;
    margin-bottom: 2%;
  }

  #portfolio {
    padding: 0 0 0 0;
  }
  .card-title,
  .card-text {
    font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
  }
  ::placeholder,
  input,
  form h1 {
    font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
  }
  .icons {
    height: 30px;
    width: 30px;
  }

  form {
    width: 100%;
  }

  #contact {
    margin: 10% 0 10% 0;
  }
  .card-img-top{-webkit-filter: none;}
}

@media screen and (max-width: 375px) {
  body {
    height: 100%;
  }

  #profile-image {
    height: 300px;
    width: 300px;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 50%;
  
  }

  #profile-info {
    margin: 50px 0 0 0;
    padding-left: 10px;
    margin-bottom: 10%;
  }

  .port-col-1,
  .port-col-2,
  .port-col-3 {
    padding: 0 0 0 0;
    margin-bottom: 2%;
  }

  #portfolio {
    padding: 0 0 0 0;
  }

  .card-title,
  .card-text {
    font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
  }

  .card:hover{
    opacity: 0.2;

  }
  ::placeholder,
  input,
  .form-control,
  form h1 {
    font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
  }

  .icons {
    height: 30px;
    width: 30px;
  }

  form {
    width: 100%;
  }

  #contact {
    margin: 10% 0 20% 0;
  }
  .card-img-top{-webkit-filter: none;}
}

@media screen and (max-width: 320px) {
  body {
    height: 100%;
  }

  .jumbotron {
    background-image: url(assets/parallax.jpg);
    background-attachment: fixed;
    background-position: cover 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75%;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    text-size-adjust: 50%;
  }

  #profile-image {
    max-height: 500px;
    max-width: 400px;
    margin-top: 5%;
    margin-bottom: 5%;
    height: auto;
    width: auto;
  
  }

  #profile-info {
    margin: 50px 0 0 0;
    padding-left: 10px;
    margin-bottom: 10%;
  }

  .port-col-1,
  .port-col-2,
  .port-col-3 {
    padding: 0 0 0 0;
    margin-bottom: 2%;
  }

  #portfolio {
    padding: 0 0 0 0;
  }
  .card-title,
  .card-text {
    font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
  }
  ::placeholder,
  input,
  form h1 {
    font-family: "Nunito Sans", sans-serif, Arial, Helvetica, sans-serif;
  }
  .icons {
    height: 30px;
    width: 30px;
  }

  form {
    width: 100%;
  }

  #contact {
    margin: 10% 0 10% 0;
  }
  .card-img-top{-webkit-filter: none;}
}