body {
    background-color: antiquewhite;
    height: 100%;

}

#profile-image {
    height: 400px;
    width: 400px;
    border: 5px solid rgb(241, 176, 168);
}

#profile-info {
    
    border: 5px solid rgb(241, 176, 168);
    padding: 75px 10px 0 20px;
}

#main-row {
    margin-top: 20%;
}

.icons {
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
   /* About Me */
   
    #profile-image {
        width: 100%;
        height: 100%;
    }

    #profile-info {
        margin-top: 50px;
        padding: 20px 10px 0 0;
        font-size: 12pt;
    }

    .icons {
        width: 35px;
        height: 35px;
    }

    /* Contact */

    form {
        width: 100%;
    }

    

}

@media screen and (max-width: 320px) {

    /* about me */
    #profile-image {
        width: 100%;
        height: 100%;
        
    }

    #profile-info {
        margin: 50px 0 0 0;
        padding-left: 10px;
    
    }

    .icons {
        height: 35px;
        width: 35px;
    }

    /* contact */

    form {
        width: 100%;
    }





}

